body {
margin: 0em;
}
header {
    background-color: white;
    padding: 0.5em;
    color: black;
    font-size: 1.5em;
    top: 0px;
    text-decoration: none;
}
table {
    width: 100%;
}
td, th {
    border: 3px solid white;
    
}
.header a{
    text-decoration: none;
    color: black;
    font-size: 1em;
  }
  body {
    background-image: url("Images/achtergrond.jpg");
  }
  header {
    background-color: white;
  }
  li a {
    color: white;
    text-align: left;
    padding: 13px 16px;
    text-decoration: none;
  }
  li.nav {
    display: inline;
  }
  li a:hover {
    background-color: #cccccc;
  }
  .active {
    background-color: #cccccc;
  }
  ul {
    padding: 0;
    margin: 0;
  }
  .onderkant {
    position: fixed;
    margin-top: 10em;
    background-color: white;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 0em;
    text-align: center;
  }
  .onderkant p {
    margin-bottom: 5em;
    font-size: 1.5em;
    border: 3px solid white;
    width: 1190px;
    border-right: 2em;
    display: inline-block;
  }
  .onderkant h1 {
    border: 3px solid black;
    width: 800px;
    display: inline-block;
  }
  .hz-logo {
    float: left;
    position: absolute;
    left: 0.5em;
    bottom: 0.5em;
  }
  .container {
    color: white;
    font-size: 1.5em;
    min-height: 200px;
    max-height: 600px;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 515px 250px 425px;
    grid-template-rows: 620px 275px 300px 300px;
    grid-gap: 5px;
    align-items: end;
  }
  .foto-tekst {
    text-align: center;
  }
  .tom {
   text-align: center;
  }
  .bier {
    text-align: center;
  }
  .game {
    text-align: center;
  }
  .Vrijetijdsbesteding {
    text-align: center;
  }
  .wie-ben-ik {
    color: black;
    text-align: center;
    display: inline-block;
    background-color: white;
    position: fixed;
    right: 8em;
    top: 5em;
    border: 3px solid black;
    width: 40%;
    font-size: 1.2em;
  }
  table {
    width: 100%;
    background-color: black;
  }
  td, th {
    border: 3px solid white;
    color: white;
    padding: 8px;
    text-align: left;
  }
  th {
    background-color: grey;
  }
  h2 {
    color: white;
    font-size: 2em;
    text-align: center;
  }
  .NBSA {
    background-color: red;
  }
  h3 {
    color: white;
    text-align: center;
    font-size: 2em;
  }
  h4 {
    color: black;
    text-align: center;
    font-size: 1.3em;
  }
  .links {
  color: black;
}
  .links:hover {
    background-color: white;
    padding: 0em;
  }
  #box-container {
    display: flex;
    height: 225px;
    justify-content: center;
    font-size: 1.2em;
    text-align: left;
    width: 100%;
  }
  #box-1 {
    color: black;
    background-color: white;
    align-self: center;
    height: 225px;
    width: 500px;
  }
  .faq {
    color: black;
    text-align: center;
    display: inline-block;
    background-color: white;
    position: fixed;
    right: 24em;
    top: 5em;
    border: 3px solid black;
    width: 40%;
    font-size: 1.2em;
    align-items: center;
  }
  ol.a {
    list-style-type:none;
    text-align: left;
  }
  #box-container-2 {
    display: flex;
    height: 500px;
    justify-content: center;
    font-size: 1.2em;
    text-align: left;
    width: 100%;
  }
  #box-2 {
    background-color: white;
    align-self: center;
    height: 450px;
    width: 600px;
  }
  h5 {
    text-align: center;
    color: black;
    font-size: 1.2em;
  }