body {
margin: 0em;
}
header {
    background-color: white;
    padding: 0.5em;
    color: black;
    font-size: 1.5em;
    top: 0px;
    text-decoration: none;
}
table {
    width: 100%;
}
td, th {
    border: 3px solid white;
    
}